$color-blue: #bcece0;
$color-cyan: #36eee0;
$color-pink: #f652a0;
$color-dark: #21253c;

$font-header: ff-real-headline-pro, Helvetica, Arial,
  sans-serif;
$font-body: ff-real, Helvetica, Arial, sans-serif;
