* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $color-dark;
  background-image: $background-radial-gradient;
  background-size: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 3000px;
}
